body{
    background-color: #2E2D2D;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#title{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 75px;
    color: rgb(229, 229, 229);
    position : relative;
}
#subtitle{
    text-align: center;
    position: relative;
    bottom: 60px;
    color: rgb(229,229,229);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 20px;
}
#start{
    transition-duration: 1000ms;
    position: relative;
    display: block;
    margin: auto;
    font-size: 40px;
    top: 100px;
    font-family: sans-serif;
    background-color: lightblue;
    border-radius: 6px;
    border-color: black;
    border: none;
    color: white;
    width: 250px;
}
#pricing{
    position: relative;
    display: block;
    margin: auto;
    font-size: 20px;
    font-family: sans-serif;
    bottom: 300px;
    left: 400px;
    font-weight: normal;
}
#about{
    position: relative;
    display: block;
    margin: auto;
    font-size: 20px;
    font-family: sans-serif;
    bottom: 328.5px;
    left: 500px;
    font-weight: normal;
}